.homeHero {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
      #a997df2d,
      #a997df2d
    ),url("/homeHero.png");
    background-position: center;
	background-size: cover;
}

.homeText {
    color: white;
    text-align: center;
}

.homeText h2{
    font-size: 32px;
    font-family: 'Mont-Medium';
}

.homeText h1 {
    font-size: 96px;
    font-family: 'Gill-Bold-Italic';
}

.homeText p {
    font-size: 24px;
    font-family: 'Mont-Reg';
}

.homeText input {
    width: 600px;
    height: 50px;
    font-size: 20px;
    border: none;
    outline: none;
    padding-left: 15px;
    margin-top: 40px;
    border-radius: 15px;
    color: #1b065eba;
    font-family: 'Mont-Reg';
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
}

.trendingEvents {
    text-align: center;
}

.trendingEvents h2 {
    margin-top: 75px;
    margin-bottom: 50px;
}

#more {
    text-decoration: none;
    color: #1b065e;
    font-size: 26px;
    padding: 15px 50px;
    border: #1b065e 4px solid;
    border-radius: 15px;
    font-family: 'Mont-Semi';
}

.more {
    margin-top: 50px;
    margin-bottom: 80px;
}

.trendingEventCards {
    gap: 20px
    ;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    justify-content: center;
    padding-bottom: 50px;
}

.category {
    text-align: center;
    background-color: #a997df68;
}

.category .heading {
    padding-top: 50px;
}

.categories {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    min-width: 300px;
    justify-content: space-evenly;
    margin-top: 50px;
}

.categories a {
    text-decoration: none;
    color: #1b065e;
    margin-bottom: 75px;
}

.categoryCard {
    text-decoration: none;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.categoryCard h3 {
    margin-top: 5px;
    font-size: 26px;
    font-family: 'Mont-Bold';
}

.categoryCard span {
    font-size: 20px;
}

.categoryCard .margin {
    margin-right: 5px;
}

.organizations {
    text-align: center;
}

.organizations .heading {
    margin-top: 50px;
    margin-bottom: 50px;
}

.orgCards {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
