.savedContent {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #1b065e;
}

.savedContent h2 {
    margin-top: 100px;
}

.filters {
    color: #1b065e;
    display: flex;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 20px;
}

.search, .filter, .sort {
    display: flex;
    align-items: center;
    margin-right: 25px;
    cursor: pointer;
}

.savedItems p {
    font-family: "Mont-Semi";
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 100px;
}